* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: transparent;
    text-decoration: none; */
}

body {
    background: #171717;
    color: #D5D1CC;
    /* overflow: hidden;
    overflow-y: scroll; */
} 
